---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face {
    font-family: 'AllRoundGothicW03-Book';
    src: url('/assets/fonts/AllRoundGothicW03-Book.eot');
    src: url('/assets/fonts/AllRoundGothicW03-Book.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/AllRoundGothicW03-Book.woff2') format('woff2'),
        url('/assets/fonts/AllRoundGothicW03-Book.woff') format('woff'),
        url('/assets/fonts/AllRoundGothicW03-Book.svg#AllRoundGothicW03-Book') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

// Our variables
$base-font-family:  'AllRoundGothicW03-Book';
$base-font-size:    18px;
$base-line-height:  1.5;
$link-hover:        #1975e5;
$spacing-unit:      1.5em;
$blue:              rgba(25, 117, 229, 0.3);
$yellow:            rgba(255, 244, 43, 0.5);
$green:             rgba(138, 219, 79, 0.3);
$body-background:   #f2f2f2;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "normalize",
        "layout",
        "syntax-highlighting"
;
