---
layout: page
title: All recipes
permalink: /archives/
---
{% for post in site.posts  %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

    {% if forloop.first %}
    <article class="module color3">
        <h2 id="{{ this_year }}-ref">{{this_year}}</h2>
    </article>
    {% endif %}
        <article class="module color3">
          <h2>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <p>
            {{ post.prep }} minutes prep time<br>{{ post.cook }} minutes cook time
          </p>
        </article>

    {% if forloop.last %}
    {% else %}
        {% if this_year != next_year %}
    <article class="module color3">
        <h2 id="{{ next_year }}-ref">{{next_year}}</h2>
    </article>
        {% endif %}
    {% endif %}
{% endfor %}
