<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

<body>
  <!--[if IE]>
    Please use another browser for a better experience.
  <![endif]-->
  {% include header.html %}
  <section class="main-content">
    {{ content }}
      {% include footer.html %}
  </section>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QND7SR7FJ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-5QND7SR7FJ');
  </script>

</body>
</html>
